/**
 *
 * -------------------------------------------
 * WP Extensions CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 8. Additional WP extensions styles
 *
 *
------------------------------------ */

/* 8.1. Archives widget
==================================== */

/* 8.2. Custom menu widget
==================================== */

/* 8.3. Pages widget
==================================== */

/* 8.4. RSS widget
==================================== */

.box h3.box-title .rsswidget {
	clear: none;
	float: left;
	font-size: 20px;
	margin-right: 10px;
}

.box .rsswidget {
	clear: both;
	display: block;
	font-size: 12px;
}

.box .rss-date {
	clear: both;
	display: block;
	font-size: 9px;
	font-style: italic;
	margin-top: -10px;
	text-align: right;
}

.box .rssSummary {
	clear: both;
	color: #888;
	font-size: 10px;
	line-height: 1.5;
	margin-bottom: 10px;
}

/* 8.5. Text widget
==================================== */

#gk-header .box.widget_text {
	padding: 0!important;
}

#gk-header .box.widget_text img {
	height: auto;
	max-width: 100%;
}

/* 8.6. Calendar widget
==================================== */

.box #wp-calendar {
	background: #fff;
	width: 100%;
}

.box #wp-calendar caption {
	background: #fff;
	border: 1px solid #eee;
	font-size: 13px;
	font-weight: normal;
	padding: 5px 0;
}

.box #wp-calendar th {
	background: #333;
	color: #fff;
	font-weight: normal;
	padding: 5px 0;
}

.box #wp-calendar td {
	border: 1px solid #eee;
	padding: 5px 0;
	text-align: center;
}

.box #wp-calendar td a {
	font-weight: bold;
}


/* 8.7. Links widget
==================================== */

.box ul.xoxo a {
	display: block;
	font-size: 12px;
	line-height: 20px;
}

.box ul.xoxo a img {
	vertical-align: middle;
}

.box ul.xoxo li {
	font-size: 10px;
	padding: 5px 0;
}

/* 8.8. Recent comments widget
==================================== */

/* 8.9. Search widget
==================================== */
 
.box #searchform label,
.box #searchform #searchsubmit {
	display: none;
}

.box #searchform .field {
	width: 100%;
}
 
/* 8.10. Categories widget
==================================== */

/* 8.11. Meta widget
==================================== */

/* 8.12. Recent posts widget
==================================== */

/* 8.13. Tag cloud widget
==================================== */

.box.tags .tagcloud {
	overflow: hidden;
}

.box.tags .tagcloud a {
	background: #5990de;
	border-radius: 3px;
	color: #fff;
	display: block;
	float: left;
	font-size: 12px!important;
	margin: 0 5px 5px 0;
	padding: 3px 6px;
	transition: background-color 0.3s ease-out;
}

.box.tags .tagcloud a:active,
.box.tags .tagcloud a:focus,
.box.tags .tagcloud a:hover {
	background: #444;
}

/* 8.14. Common widget styles
==================================== */

/* Modules */
.box {
	margin-bottom: 25px;
}

#gk-header .box {
	margin-bottom: 0!important;
}

.box ul {
	list-style-type: none;
	margin: 0;
}

.box ul li {
	line-height: 1.5;
	padding: 5px 0;
}

.box .box-title {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 12px;
}

#gk-bottom .box a {
	color: #777;
}

#gk-bottom .box a:active,
#gk-bottom .box a:focus,
#gk-bottom .box a:hover {
	color: #333;
}
#gk-bottom .box ul li {
	line-height: 2;
	padding: 0;
}

/* Suffix blue & blue-header */
.box.blue-border > div {
	border: 3px solid #5990de!important;
	border-radius: 5px;
	padding: 10px 15px;	
}

.box.blue-header .box-title {
	color: #5990de;
}

.box.blue > div {
	background: #5990de;
	border-radius: 5px;
	color: #fff;
	padding: 10px 15px;
}

.box.blue .box-title {
	color: #fff;
}

.box.blue a,
#gk-bottom .box.blue a {
	color: #e8effa;
}

.box.blue a:active,
.box.blue a:focus,
.box.blue a:hover,
#gk-bottom .box.blue a:active,
#gk-bottom .box.blue a:focus,
#gk-bottom .box.blue a:hover {
	color: #fff;
}

/* Suffix red & red-header */
.box.red-border > div {
	border: 3px solid #dd514c!important;
	border-radius: 5px;
	padding: 10px 15px;	
}

.box.red-header .box-title {
	color: #dd514c;
}

.box.red-header a,
#gk-bottom .box.red-header a {
	color: #dd514c;
}

.box.red-header a:active,
.box.red-header a:focus,
.box.red-header a:hover,
#gk-bottom .box.red-header a:active,
#gk-bottom .box.red-header a:focus,
#gk-bottom .box.red-header a:hover  {
	color: #ff736e;
}

.box.red > div {
	background: #dd514c;
	border-radius: 5px;
	color: #fff;
	padding: 10px 15px;
}

.box.red .box-title {
	color: #fff;
}

.box.red a,
#gk-bottom .box.red a {
	color: #ffc4c2;
}

.box.red a:active,
.box.red a:focus,
.box.red a:hover,
#gk-bottom .box.red a:active,
#gk-bottom .box.red a:focus,
#gk-bottom .box.red a:hover {
	color: #fff;
}

/* Suffix green & green-header */
.box.green-border > div {
	border: 3px solid #5eb95e!important;
	border-radius: 5px;
	padding: 10px 15px;	
}

.box.green-header .box-title {
	color: #5eb95e;
}

.box.green-header a,
#gk-bottom .box.green-header a {
	color: #5eb95e;
}

.box.green-header a:active,
.box.green-header a:focus,
.box.green-header a:hover,
#gk-bottom .box.green-header a:active,
#gk-bottom .box.green-header a:focus,
#gk-bottom .box.green-header a:hover {
	color: #7fdb7f;
}

.box.green > div {
	background: #5eb95e;
	border-radius: 5px;
	color: #fff;
	padding: 10px 15px;
}

.box.green .box-title {
	color: #fff;
}

.box.green a,
#gk-bottom .box.green a {
	color: #e4f3e4;
}

.box.green a:active,
.box.green a:focus,
.box.green a:hover,
#gk-bottom .box.green a:active,
#gk-bottom .box.green a:focus,
#gk-bottom .box.green a:hover {
	color: #fff;
}

/* Suffix yellow & yellow-header */
.box.yellow-border > div {
	border: 3px solid #fbb450!important;
	border-radius: 5px;
	padding: 10px 15px;	
}

.box.yellow-header .box-title {
	color: #fbb450;
}

.box.yellow-header a,
#gk-bottom .box.yellow-header a {
	color: #fbb450;
}

.box.yellow-header a:active,
.box.yellow-header a:focus,
.box.yellow-header a:hover,
#gk-bottom .box.yellow-header a:active,
#gk-bottom .box.yellow-header a:focus,
#gk-bottom .box.yellow-header a:hover {
	color: #fdd672;
}

.box.yellow > div {
	background: #fbb450;
	border-radius: 5px;
	color: #fff;
	padding: 10px 15px;
}

.box.yellow .box-title {
	color: #fff;
}

.box.yellow a,
#gk-bottom .box.yellow a {
	color: #fffbc7;
}

.box.yellow a:active,
.box.yellow a:focus,
.box.yellow a:hover,
#gk-bottom .box.yellow a:active,
#gk-bottom .box.yellow a:focus,
#gk-bottom .box.yellow a:hover {
	color: #fff;
}

/* Suffix border1 */
.box.border1 > div {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 10px 15px;
}

/* Suffix border2 */
.box.border2 > div {
	border: 3px solid #e5e5e5;
	border-radius: 5px;
	padding: 10px 15px;
}

/* Suffix border3 */
.box.border3 > div {
	border: 2px dashed #e5e5e5;
	border-radius: 5px;
	padding: 10px 15px;
}