body {
	color: #777;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	font-weight: 300;
	padding: 0 20px;
	text-align: center;
}
a {
	color: #55a8e8;
	outline: none!important;
	text-decoration: none;
}
a:active,
a:focus,
a:hover {
	color: #111;
	text-decoration: none;
}
h1 {
	color: #55a8e8;
	font-size: 54px;
	font-weight: 500;
	margin: 50px 0 30px 0;
}
a.cssLogo {
	background: transparent url('../images/logo.png') no-repeat 0 0;
	display: block;
	height: 67px;
	margin: 0 auto;
	width: 219px;
	text-indent: -9999px;
}
p {
	font-size: 18px;
	margin: 10px 0 24px 0;
}
p.errorinfo {
	border-top: 1px solid #e5e5e5;
	font-size: 13px;
	margin: 0 auto;
	padding: 9px 0;
	width: 300px;
}