/**
 *
 * -------------------------------------------
 * IE code fixes
 * -------------------------------------------
 *
 **/

/*
 *
 * 12. IE
 *
 *
------------------------------------ */

/* 12.1. IE8
==================================== */

.author-avatar img {
	max-width: none!important;
	width: auto!important;
}

#main-menu .sub-menu {
	border: 1px solid #e5e5e5;
}

#main-menu .sub-menu:before {
	display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="www"],
input[type="tel"] {
	line-height: 1.2!important;
	padding-top: 8px!important;
	padding-bottom: 8px!important;
}