/**
 *
 * -------------------------------------------
 * Mobile CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 11. Mobile code
 *
 *
------------------------------------ */
 
/* 11.1. Base elements
==================================== */ 

/* archive / page 404 */
.page404 .widget,
.archivepage .widget {
	margin: 0!important;
	width: 100%!important;
}

/* images fix */
#gk-mainbody img {
	height: auto!important;
	max-width: 100%!important;
}

/* tables fix */
#gk-mainbody table:before {
	content: "Scroll horizontally to view the whole table";
	height: 14px;
	width: 100%;
	display: block;
	font-size: 10px;
	margin-top: -30px;
	margin-bottom: 10px;
	font-family: Arial, sans-serif;
}

#gk-mainbody table {
	width: 540px;
	overflow: scroll;
	display: block;
	padding: 30px 0 20px 0; /* padding for the scrollbars and the top message */
}

#gk-mainbody table tr {
	width: 540px;
	display: table;
}

/* column rules */
#gk-sidebar {
	padding: 20px 0!important;
}

#gk-sidebar .box {
	float: none!important;
	width: 100%!important;
}

.widget-area .col1,
.widget-area .col2,
.widget-area .col3,
.widget-area .col4,
.widget-area .col5,
.widget-area .col6,
.widget-area .box.last1,
.widget-area .box.last2,
.widget-area .box.last3,
.widget-area .box.last4,
.widget-area .box.last5 { 
	float: none!important;
	margin: 0 auto 20px auto!important; 
	max-width: 320px; 
	width: 100%; 
}

.widget-area .nth1,
.widget-area .nth2,
.widget-area .nth3,
.widget-area .nth4,
.widget-area .nth5,
.widget-area .nth6 {
	clear: both;
}

/* 11.2. Header elements
==================================== */
.gk-big-header {
	font-size: 32px!important;
	line-height: 1.2!important;
	margin-top: 0px!important;
}

.gk-small-header {
	font-size: 12px!important;
}

.gk-buttons {
	padding: 20px 0 0 0!important;
}

.gk-blue-button,
.gk-yellow-button {
	font-size: 14px!important;
	font-weight: 300!important;
	height: 24px!important;
	line-height: 25px!important;
	margin-left: 10px!important;
	padding: 0 16px!important;
}

.gk-medium-header {
	font-size: 18px!important;
}

/* 11.3. Posts
==================================== */

article.post, 
article.page {
	padding-left: 0!important;
}

aside.meta {
	float: none;
	min-height: 92px;
	overflow: hidden;
	position: static;
	width: 100%;
}

aside.meta dt.date + dd {
	left: 0;
	padding-left: 16px!important;
	position: absolute;
}

aside.meta dt,
aside.meta dd {
	clear: none;
	float: left;
	padding-left: 106px;
}

aside.meta dt {
	clear: both;
}

aside.meta dd {
	margin-bottom: 3px!important;
	padding-left: 10px;
}

aside.meta dd.edit,
aside.meta dd.bookmark {
	display: none;
}

.tag-page article aside.meta,
.category-page article aside.meta,
.search-page article aside.meta,
.home article aside.meta,
.archive article aside.meta {
	max-height: 32px!important;
	min-height: 32px!important;
}

.tag-page article aside.meta dl,
.category-page article aside.meta dl,
.search-page article aside.meta dl,
.home article aside.meta dl,
.archive article aside.meta dl {
	margin: 0!important;
}

.tag-page aside.meta dt.date + dd,
.category-page aside.meta dt.date + dd,
.search-page aside.meta dt.date + dd,
.home aside.meta dt.date + dd,
.archive aside.meta dt.date + dd {
	padding: 0!important;
	position: static;
}

.tag-page article aside.meta time,
.category-page article aside.meta time,
.search-page article aside.meta time,
.home article aside.meta time,
.archive article aside.meta time {
	display: block;
	float: left!important;
	width: auto!important;
	height: 28px!important;
	line-height: 29px!important;
	padding: 0 6px!important;
	font-size: 14px!important;
	margin-bottom: 0!important;
}

.tag-page article aside.meta time span,
.category-page article aside.meta time span,
.search-page article aside.meta time span,
.home article aside.meta time span,
.archive article aside.meta time span {
	display: inline!important;
	font-size: 14px!important;
	line-height: 29px!important;
}

.tag-page article aside.meta dd.format,
.category-page article aside.meta dd.format,
.search-page article aside.meta dd.format,
.home article aside.meta dd.format,
.archive article aside.meta dd.format {
	border: none!important;
	float: left!important;
	position: static!important;
}

.tag-page article hgroup h1,
.category-page article hgroup h1,
.search-page article hgroup h1,
.home article hgroup h1,
.archive article hgroup h1 {
	margin-top: 0!important;
}

#comments {
	margin-left: 0!important;
}


/* 11.4. Other elements
==================================== */

#gk-social-icons {
	display: none;
}

/* 11.5. Device classes
==================================== */

.onlyDesktop {
	display: none!important;
}

.onlyTablets {
	display: none!important;
}

.onlySmartphones {
	display: block!important;
}

.onlyTabltetsAndSmartphones {
	display: block!important;
}