/**
 *
 * --------------------------------------------
 * Shortcodes - interactive elements - CSS file
 * --------------------------------------------
 * 
 **/

/*
 *
 * 6. Shortcodes
 *
 *
------------------------------------ */

/* 6.2. Interactive elements
==================================== */

/* RSS link */
.gk-rss > i {
	margin-right: 5px;
}

/* PDF link */
.gk-pdf > i {
	margin-right: 5px;
}

/* Private note & members note */
.gk-note,
.gk-members {
	background: #fafafa;
	border: 1px solid #f0f0f0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #aaa;
	margin: 10px 0;
	padding: 10px 15px;
	position: relative;
}

.gk-note:before,
.gk-members > strong:first-child {
	background: #dd514c;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	content: "!";
	font-size: 16px;
	height: 20px;
	left: 10px;
	line-height: 21px;
	position: absolute;
	text-align: center;
	top: -10px;
	width: 20px;
}

.gk-members > strong:first-child {
	background: #5eb95e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	padding: 0 10px;
	width: auto!important;
}

/* Toggle */
.gk-toggle {
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0;
	min-height: 16px;
	overflow: hidden;
	padding: 10px 15px;
	position: relative;
}

.gk-toggle.opened > div {
	margin-top: 0;
	opacity: 1;
}

.gk-toggle.closed > div {
	margin-top: -100%;
	opacity: 0;
}

.gk-toggle.opened > h3:after,
.gk-toggle.closed > h3:after {
	background: transparent url('../images/toggler.png') no-repeat 0 0;
	content: " ";
	cursor: pointer;
	display: block;
	height: 21px;
	line-height: 21px;
	position: absolute;
	right: 0;
	top: 8px;
	width: 21px;
}

.gk-toggle.closed > h3:after {
	background: transparent url('../images/toggler.png') no-repeat 0 -40px;	
}

.gk-toggle > h3 {
	background: #fff;
	color: #333;
	cursor: pointer;
	font-size: 16px;
	line-height: 17px;
	margin: -10px 0;
	padding: 10px 0;
	position: relative;	
	z-index: 1;
}

.gk-toggle > div {
	overflow: hidden;
	padding-top: 10px;
	position: relative;
	top: -50%;
	-webkit-transition: margin-top .3s ease-out, opacity .5s ease-out;
	-moz-transition: margin-top .3s ease-out, opacity .5s ease-out;
	-ms-transition: margin-top .3s ease-out, opacity .5s ease-out;
	-o-transition: margin-top .3s ease-out, opacity .5s ease-out;
	transition: margin-top .3s ease-out, opacity .5s ease-out;
}

/* Tooltips */
.gk-tooltip {
	position: relative;
}

.gk-tooltip dfn {
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	left:-9999px;
	padding: 5px;
	position: absolute;
	bottom: 24px;
	width: 200px;
}

.gk-tooltip:hover dfn {
	left: 50%;
	margin-left:-100px;
}

.gk-tooltip[data-style="style2"] dfn {
	background: #5990de;
	border: none;
	color: #fff;
}

.gk-tooltip[data-style="style3"] dfn {
	background: #dd514c;
	border: none;
	color: #fff;	
}

.gk-tooltip[data-style="style4"] dfn {
	background: #5eb95e;
	border: none;
	color: #fff;
}

.gk-tooltip[data-style="style5"] dfn {
	background: #fbb450;
	border: none;
	color: #fff;
}
