/**
 *
 * -------------------------------------------
 * Template CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 5. Wordpress elements styling
 *
 *
------------------------------------ */
 
/* 5.1. Main menu
==================================== */ 
 
#gk-mainmenu-toggle {
	display: none;
} 
 
#gk-mainmenu-collapse {
	overflow: visible!important;
} 
 
#main-menu {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#main-menu ul {
	margin: 0!important;
	padding: 0!important;
}

#main-menu > li {
	border: none;
	float: left;
	font-size: 14px;
	min-height: 67px;
	line-height: 67px;
	margin: 0;
}

#main-menu > li > a {
	color: #777;
	margin: 0;
	padding: 0 14px;
	-webkit-transition: color .3s ease-out;
	-moz-transition: color .3s ease-out;
	-ms-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	transition: color .3s ease-out;
}

#main-menu > li > a:hover {
	background: transparent;
	color: #5990de;
}

#main-menu > li.current-menu-item,
#main-menu > li.current_page_item,
#main-menu > li:hover {
	color: #5990de;
}

#main-menu > li.active > a,
#main-menu > li.current-menu-item > a,
#main-menu > li.current_page_item > a,
#main-menu > li.current-menu-ancestor > a, 
#main-menu > li.current-menu-parent > a  {
	background: transparent;
	color: #5990de;
}

/* Submenu */
#main-menu .sub-menu {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 6px #939393;
	-moz-box-shadow: 0 0 6px #939393;
	-ms-box-shadow: 0 0 6px #939393;
	-o-box-shadow: 0 0 6px #939393;
	box-shadow: 0 0 6px #939393;
	display: block;
	font-size: 13px;
	left: -9999px;
	margin-top: -3px;
	padding: 0!important;
	position: absolute;
	width: 200px;
	z-index: 10;
}

#main-menu .sub-menu:before {
	background: transparent url('../images/menu_arrow.png') no-repeat 0 0;
	content: "";
	display: block;
	height: 10px;
	left: 26px;
	position: absolute;
	top: -10px;
	width: 14px;
}

#main-menu .sub-menu .sub-menu:before {
	display: none;
}

#main-menu li:hover .sub-menu {
	left: auto;
}

#main-menu .sub-menu li {
	border-top: 1px solid #ececec;
	min-height: 22px;
	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-ms-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}

#main-menu .sub-menu li:first-child {
	border-top: none;
}

#main-menu .sub-menu li a {
	color: #777;
	display: block;
	line-height: 22px;
	padding: 10px 26px;
}


#main-menu .sub-menu li:hover {
	background: #f5f5f5;
}

#main-menu .sub-menu li:hover a,
#main-menu .sub-menu li a:active,
#main-menu .sub-menu li a:focus,
#main-menu .sub-menu li a:hover {
	color: #585656!important;
	text-decoration: none;
}

#main-menu .sub-menu .sub-menu {
	border-top: 1px solid #eee;
	left: -9999px!important;
	margin-left: 180px;
	margin-top: -24px;
}

#main-menu .sub-menu li:hover .sub-menu {
	left: auto!important;
}
 
/* 5.2. Comments
==================================== */

#comments {
	border-top: 1px solid #e5e5e5;
	margin: 20px 0 0 0;
}

#comments.nocomments {
	border-top: none;
}

#comments > h2:first-child {
	font-size: 20px;
	margin: 0 0 42px 0;
	padding: 24px 0 0 0;
}

#comments > nav {
	margin: 12px 0;
	overflow: hidden;
}

#comments > nav .nav-prev {
	float: left;
}

#comments > nav .nav-next {
	float: right;
}

#comments > ol {
	list-style-type: none;
	padding: 0;
}

#comments ol.children {
	list-style-type: none;
	margin-left: 5%;
	padding: 0;
}

#comments li article {
	clear: both;	
	margin-top: 20px;
	position: relative;
}

#comments li article > aside {
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	left: 0;
	position: absolute;
	top: 20px;
}

#comments li article > aside img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
}

#comments li article > .content {
	border-bottom: 1px solid #eee;
	margin-left: 56px;
	overflow: hidden;
	padding: 2px 3% 12px 3%;
}

#comments .children article > .content {
	margin-left: 48px;
}

#comments article time {
	color: #b3b6b7;
	font-size: 11px;
}

#comments article .author {
	font-size: 12px;
	font-weight: bold;
}

#comments article .content > * {
	font-size: 12px;
}

#comments article footer .edit,
#comments article footer .reply {
	float: right;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
}

#comments em.awaiting-moderation {
	color: #a33;
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	text-align: center;
}
/* Special comments classes */
#comments li.bypostauthor > article {
	border: 1px solid #f5f5f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#comments li.bypostauthor article .content {
	border: none!important;
}

#comments li.bypostauthor article aside {
	left: 2%;
}

#comments li.byuser article {}
#comments li.odd article {}
#comments li.even article {}

/* Comments typography */
#comments li article abbr[title],
#comments li article acronym[title] {
	border-bottom: 1px dotted;
}

#comments li article code {
	background: #fafafa;
	border-left: 4px solid #eee;
	display: block;
	margin: 10px 0;
	padding: 10px 20px; 
	word-spacing: pre;
}

#comments li article blockquote {
	background: #fafafa;
	border: 2px solid #eee;
	border-left: none;
	border-right: none;
	display: block;
	margin: 10px 0;
	padding: 10px; 
	position: relative;
}

#comments li article blockquote p {
	margin: 0;
}

#comments li article q {
	color: #888;
	font-weight: bold;
}

#comments li article strike {
	text-decoration: line-through;
}

#comments li article del {
	color: #aaa;
	text-decoration: line-through;
}

/* Comment form */
#respond {
	padding: 12px 0;
}

#respond > h3 {
	padding: 24px 0 0 0;
	margin: 0 0 20px;
	font-size: 28px;
	font-weight: normal!important;
	line-height: 100%;
	border-top: 1px solid #e5e5e5;
}

#respond p.comment-notes
#respond p.logged-in-as,
#respond p.form-allowed-tags {
	font-size: 11px;
	color: #999
}

#respond input,
#respond textarea {
	display: block;
}

#respond input[type="text"],
#respond input[type="password"],
#respond textarea {
	width: 100%;
}

#respond #reply-title small {
	float: right;
	font-size: 14px;
	text-transform: none;
}

/* 5.3. Post meta-data
==================================== */

#gk-mainbody article > header h1 {
	color: #444;
	font-size: 48px;
	line-height: 60px;
	margin: 32px 0 12px;
}

#gk-mainbody article > header {
	margin-bottom: 10px;
}

article header {
	position: relative;
}

article.post,
article.page {
	padding-left: 120px;
}

article.no-title,
article.page-fullwidth {
	padding-left: 0;
}

section#comments {
	margin-left: 120px;
}

article.no-title + section#comments,
article.page-fullwidth + section#comments {
	margin-left: 0;
}

article > footer {
	border-top: 1px solid #e5e5e5;
	padding: 16px 0;
}

article > footer::after {
    clear: both;
    content: "";
    display: table;
}

article > .content,
article > .summary {
	font-size: 14px;
	line-height: 26px;
}

aside.meta {
	float: left;
	left: -120px;
	position: absolute;
	width: 94px;
}

aside.meta dl {
	position: relative;
}

aside.meta a {
	color: #999;
}

aside.meta a:active,
aside.meta a:focus,
aside.meta a:hover {
	color: #333;
}

aside.meta dt,
aside.meta dd {
	clear: both;
	display: block;
	font-size: 11px;
	line-height: 17px;
	text-align: right;
}

aside.meta dt,
aside.meta dd[class] {
	font-weight: bold;
}

aside.meta dd {
	margin: 0 0 12px 0;
}

aside.meta dt.date {
	display: none;
}

aside.meta time {
	display: block;
	float: right;
	width: 66px;
	height: 66px;
	line-height: 52px;
	padding: 6px;
	text-align: center;
	background: #FFB251;
	font-size: 48px;
	font-weight: 600;
	color: white;
	margin-bottom: 12px;
}

aside.meta time span {
	display: block;
	font-size: 18px;
	line-height: 0;
}

#gk-social-api {
	padding: 0 0 20px 0;
}

#gk-social-api > * {
	display: block;
	float: left!important;
	min-height: 33px;
	margin-right: 5px!important;
}

/* 5.4. Post additional features
==================================== */

article header h1 sup,
article.sticky header h1 sup {
	background: #f41;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	padding: 2px 5px;
	position: relative;
	text-transform: uppercase;
	top: -12px;
}

article figure.featured-image img {
	display: block;
	height: auto;
	margin: 15px auto 30px auto;
	max-width: 100%;
}

.alignnone {
	float: none;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.aligncenter {
	display: block;
	float: none;
	margin: 0 auto;
}

.wp-caption-text {
	font-size: 11px;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}

.gallery {
	clear: both;
	padding: 16px 0;
}

.gallery-caption {
	font-size: 10px;
}