/**
 *
 * Styles for the template options page
 *
 **/
 
/* Backend icons */
@charset "UTF-8";

@font-face {
  font-family: "gavernwp";
  src:url("../../fonts/gavernwp/gavernwp.eot");
  src:url("../../fonts/gavernwp/gavernwp.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/gavernwp/gavernwp.woff") format("woff"),
    url("../../fonts/gavernwp/gavernwp.ttf") format("truetype"),
    url("../../fonts/gavernwp/gavernwp.svg#gavernwp") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "gavernwp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gavernwp-"]:before,
[class*=" gavernwp-"]:before,
#gkTabs li:before,
.gkWrap > h1:first-child a:before {
  font-family: "gavernwp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea,
input,
.wp-admin select {
	-moz-border-radius: 2px!important;
	-ms-border-radius: 2px!important;
	-webkit-border-radius: 2px!important;
	background: #fff;
	border-color: #BCBCBC #DADADA #E4E4E4!important;
	border-radius: 2px!important;
	border-style: solid;
	border-width: 1px;
	color: #555;
	font-size: 13px;
	min-width: 200px;
	padding: 7px!important
}
.wp-admin select {
	border-color: #DADADA!important;
	height: inherit;
	line-height: inherit;
	padding: 5px 7px!important
}
textarea:focus,
input:focus,
.wp-admin select:focus {
	background: #FFFEF4
}
textarea {
	min-height: 125px;
	min-width: 300px;
}
.gkWidthHeight {
	min-width: 50px!important;
	width: 50px!important;
}

.gkWrap {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 40px auto 0;
	padding: 20px;
	position: relative;
	width: 95%
}
.gkWrap > h1:first-child {
	background: #55a8e8;
	border-radius: 3px 3px 0 0;
	color: #fff;
	font: normal 25px/48px Arial, Helvetica, sans-serif;
	height: 48px;
	margin: -21px -21px 0;
	padding: 16px 20px 4px
}
.gkWrap > h1:first-child big {
	float: left;
	line-height: 32px
}
.gkWrap > h1:first-child small {
	border-left: 1px solid #fff;
	float: left;
	font-size: 11px;
	font-weight: 400;
	line-height: 15px;
	margin: 1px 0 0 24px;
	padding-left: 16px
}
.gkWrap > h1:first-child small span {
	display: block;
}
.gkWrap > h1:first-child a {
	display: block;
	float: right;
	height: 26px;
	margin-top: 5px;
	position: relative;
	text-indent: -9999em;
	width: 29px
}
.gkWrap > h1:first-child a:before {
	content: "e";
	color: #fff;
	font-size: 33px;
	font-weight: bold!important;
	left: -3px;
	position: absolute;
	top: -2px;
	text-indent: 0;
}
.gkWrap > h1:first-child a:active,
.gkWrap > h1:first-child a:focus,
.gkWrap > h1:first-child a:hover {
	text-decoration: underline
}
.gkWrap > div {
	display: table;
	margin: 0 -20px -20px;
	position: relative;
	width: 100%
}
#gkTabs {
	background: #f7f7f7;
	border-right: 1px solid #e3e3e3;
	display: table-cell;
	padding: 20px 0;
	vertical-align: top;
	width: 190px
}
#gkTabs li {
	-moz-transition: background-color .3s linear;
	-ms-transition: background-color .3s linear;
	-webkit-transition: background-color .3s linear;
	border-bottom: 1px solid #e3e3e3;
	color: #575b5c;
	font: bold 13px/32px Arial, Helvetica, sans-serif;
	height: 32px;
	margin: 0;
	padding: 6px 15px 6px 54px;
	position: relative;
	text-shadow: 0 0 0 1px #fff;
	transition: background-color .3s linear
}
#gkTabs li:first-child {
	border-top: 1px solid #e3e3e3
}
#gkTabs li.active,
#gkTabs li:hover {
	color: #222;
	cursor: pointer;
}
#gkTabs li:before {
	font-size: 18px;
	left: 20px;
	position: absolute;
	top: 13px;
}
#gkTabs li:hover:before,
#gkTabs li.active:before {
	color: #55a8e8;
}
#gkTabs li:hover {
	background-color: #fff;
}
#gkTabs li.active {
	background-color: #fff;
	border-right: 1px solid #fff;
	margin-right: -1px;
}
#gkTabs li.basic:before {
	content:"m";
}
#gkTabs li.layout:before {
	content:"h";
}
#gkTabs li.pages:before {
	content:"i";
}
#gkTabs li.features:before {
	content:"k";
}
#gkTabs li.fonts:before {
	content:"c";
}
#gkTabs li.navigation:before {
	content:"d";
}
#gkTabs li.advanced:before {
	content:"e";
}
#gkTabs li.shortcodes:before {
	content:"g";
}
#gkTabs li.socialapi:before {
	content:"l";
}
#gkTabs li.themebranding:before {
	content:"b";
}
#gkTabs li.back-endbranding:before {
	content:"a";
}
#gkTabs li.seo:before {
	content:"f";
}
#gkTabsContent {
	display: table-cell;
	padding: 10px 10px 32px 24px;
	vertical-align: top
}
#gkTabsContent > div.active {
	display: block
}
#gkTabsContent .gkAjaxLoading {
	display: block;
	float: left;
	height: 16px;
	margin: 10px 8px 0 0px;
	opacity: 0;
	width: 16px
}
#gkTabsContent legend {
	color: #222;
	font: normal 22px/26px Arial, Helvetica, sans-serif;
	padding: 20px 24px 0 6px
}
#gkTabsContent legend + p {
	margin-top: 4px;
	padding-bottom: 24px
}
#gkTabsContent legend + p small {
	font-size: 11px
}
#gkTabsContent p {
	border-bottom: 1px solid #eee;
	color: #999;
	font-size: 11px;
	margin: 10px 0;
	padding: 0 0 12px 6px
}
#gkTabsContent p label {
	color: #555;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 600;
	margin-right: 10px;
	width: 290px;
}
.gkSaveSettings {
	padding: 20px 0 0;
	width: 100%
}
#gkTabs li.wrong {
	color: #a00;
	font-weight: 700
}
#gkTabs li.wrong:before {
	background: #a00;
	border-radius: 100%;
	color: #fff;
	content: '!';
	float: left;
	font-weight: 700;
	height: 16px;
	line-height: 16px;
	margin: 7px 5px 0 0;
	text-align: center;
	width: 16px
}
.wrong-required {
	border: 1px solid #fb0000!important
}
.wrong-format {
	border: 1px solid #fe7d04!important
}
.wrong-required.wrong-format {
	border: 1px solid #a4019e!important
}
.gkMedia,
.gkSave {
	-moz-border-radius: 2px;
	-moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-ms-border-radius: 2px;
	-ms-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-border-radius: 2px;
	-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background: #55a8e8!important;
	border: none!important;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font: 600 12px/31px Arial, Helvetica, sans-serif;
	height: 38px!important;
	line-height: 39px!important;
	min-width: inherit;
	padding: 0 6px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.gkSave {
	padding: 3px 9px
}
.gkMedia:hover,
.gkSave:hover {
	background: #444!important;
	color: #fff;
	cursor: pointer
}
body input.gkMedia {
	color: #fff!important;
	height: 30px!important;
	line-height: 19px!important;
}
.gkMedia + small {
	display: block;
	margin-left: 300px;
}
.gkMediaInput {
	display: block;
	float: left;
	margin-right: 4px;
}
.gkMediaPreview {
	background: #f8f8f8;
	border: 3px double #eee;
	display: block;
	height: auto;
	margin: 10px 0 0 300px;
	max-width: 320px;
	padding: 10px;
}
.gkMediaPreview img {
	max-width: 320px;
}

#gkTabsContent > div,
p[data-visible="false"] {
	display: none
}

/* Widget settings bar */
#gk-message {
	background: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
	display: block;
	margin: 0 -20px;
	padding: 0 20px;
	position: static;
}

#gk-message h2 {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	margin: 0;
	padding: 8px 0;
	width: 100%;
}

#gk-message h2.center {
	text-align: center;
}

#gk-message h2 button {
	background: #55a8e8;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-size: 12px;
	line-height: 18px;
	margin-left: 10px;
}

#gk-message h2 button:active,
#gk-message h2 button:focus,
#gk-message h2 button:hover {
	background: #444;
	cursor: pointer;
}

/* WP 3.8, 3.9 back-end adjustments */
body.branch-3-8 .gkWrap,
body.branch-3-9 .gkWrap {
	background: #fff;
	border-radius: 0;
}

body.branch-3-8 .gkWrap > h1:first-child,
body.branch-3-9 .gkWrap > h1:first-child {
	border-radius: 0;
}

/* Social Media */
#gkSocial {
	float: right;
	line-height: 1.0;
	margin: 7px 24px 0 0;
}

#gkSocial > span {
	display: block;
	float: left;
	font-size: 12px;
	margin: 4px 10px 0 0;
}

@media (max-width: 1200px) {
	#gkSocial {
		clear: both;
		float: left;
	}
	
	.gkWrap > h1:first-child {
		height: 72px;
	}
}

@media (max-width: 900px) {
	#gkTabs {
		width: 54px;
	}
	#gkTabs li {
		padding: 6px 0;
		text-indent: -9999em;
		width: 54px;
	}
	#gkTabs li:before {
		text-indent: 0;
	}
	#gkTabsContent p label {
		padding-bottom: 6px;
		max-width: 100%!important;
		width: 100%!important;
	}
	.gkMedia + small {
		clear: both;
		margin-left: 0px!important;
	}
	.gkMediaPreview {
		margin-left: 0;
	}
}